In [49]:
import pandas as pd
import seaborn as sns
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [40]:
data_path = '/content/drive/MyDrive/PDS_Assignment1/Q1/data_raw/rawdata.csv'
df = pd.read_csv(data_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          10 non-null     object
 1   Weight          10 non-null     object
 2   Age             10 non-null     object
 3   Grip strength   10 non-null     object
 4   Frailty         10 non-null     object
dtypes: object(5)
memory usage: 528.0+ bytes

In [45]:
df.rename(columns={
    'Height ': 'height',
    'Weight ': 'weight',
    }, inplace= True)

df.columns

Index(['height', 'weight', 'Age ', 'Grip strength ', 'Frailty '], dtype='object')

In [46]:
for i in df.columns[:3]:
  df[i]=df[i].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          10 non-null     float64
 1   weight          10 non-null     float64
 2   Age             10 non-null     float64
 3   Grip strength   10 non-null     object
 4   Frailty         10 non-null     object
dtypes: float64(3), object(2)
memory usage: 528.0+ bytes

In [47]:
df.to_csv('/content/drive/MyDrive/PDS_Assignment1/Q1/data_clean/cleaneddata.csv')